<router-outlet></router-outlet>
 <!-- <mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>
 <span>Mars Administrater</span> 

 </mat-toolbar> -->
 <!-- <span>MBFS</span> -->
<!---- <mat-toolbar color="primary">
  <span>MBFS</span>
</mat-toolbar>
<div class="check">
 <mat-radio-group color="primary">
  <mat-radio-button > US</mat-radio-button  >
  <mat-radio-button >Canada</mat-radio-button>
</mat-radio-group>
<div class="field">
<h1 >Payments</h1>
<mat-checkbox color="primary">View Existing Batch</mat-checkbox>
<h3>Batch status:Submitted</h3>
</div>
<br><br>
<div class="container" >
  <mat-form-field appearance="outline" >
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <h4>Batch</h4>
<mat-form-field appearance="outline">
  <select matNativeControl required>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Check Total</mat-label>
  <span>$</span>
  <input matInput placeholder="check Total" required>
</mat-form-field>
<mat-form-field appearance="outline">
  <mat-label>Total Count</mat-label>
  <input matInput placeholder="check Total" required>
</mat-form-field>
</div>
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<div class="centertext">
<mat-form-field appearance="outline">
  <mat-label>Running Total</mat-label>
  <input matInput placeholder="check Total" required>
</mat-form-field>
</div>
</div>-->
<!-- <app-component></app-component>
<app-logincomponent></app-logincomponent> -->
<!-- <app-root></app-root> -->
<!-- <app-editablerows></app-editablerows> -->
<!-- <app-editablerows></app-editablerows> -->
<!-- <app-bootstrap></app-bootstrap> -->
<!-- <mat-toolbar color="primary">
  <h1>MBFS</h1>
  <button mat-raised-button color="primary" routerLink="/material">Add</button>-
</mat-toolbar> -->
 